---
layout: custom
title: Team
permalink: /team/
---

<h1>Team</h1>

<p>The team at Arbor Australis is passionate about managing trees for our clients. Each person brings skills that
    combine to create a flexible and dynamic level of service that our clients appreciate. </p>

<style>
</style>

<!-- <div style="display: flex; justify-content: space-around; width: 100%;"> -->
<div class="grid team-photos">
    <div>
        <a hx-get="/team/jon.html" hx-target="#content">
            <img src="/assets/images/team/Jon.jpg" alt="Jonathan Belsham">
            Jonathan Belsham
        </a>
    </div>
    <div>
        <a hx-get="/team/tony.html" hx-target="#content">
            <img src="/assets/images/team/Tony.jpg" alt="Tony Cacace">
            Tony Cacace
        </a>
    </div>
    <div>
        <a hx-get="/team/lucy.html" hx-target="#content">
            <img src="/assets/images/team/Lucy.jpg" alt="Lucy Lang">
            Lucy Lang
        </a>
    </div>
    <div>
        <a hx-get="/team/dia" hx-target="#content">
            <img src="/assets/images/team/Dia.jpg" alt="Dia Mae Luzares">
            Dia Mae Luzares
        </a>
    </div>
    <div>
        <a hx-get="/team/matt" hx-target="#content">
            <img src="/assets/images/team/Matt.jpg" alt="Matthew Williams">
            Matthew Williams
        </a>
    </div>
    <div>
        <a hx-get="/team/jeremy" hx-target="#content">
            <img src="/assets/images/team/Jeremy.jpg" alt="Jeremy Young">
            Jeremy Young
        </a>
    </div>
</div>

<br><br>
<div id="content"></div>

