---
layout: custom
title: Team
permalink: /team/
---

<h1 class="text-4xl my-10">Team</h1>

<p class="mb-5">The team at Arbor Australis is passionate about managing trees for our clients. Each person brings skills that
    combine to create a flexible and dynamic level of service that our clients appreciate. </p>

<div id="content" class="mb-5">

<div class="team-photos md:grid md:grid-cols-4 gap-8">
    <div>
        <a hx-get="/team/jon.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Jon.jpg" alt="Jonathan Belsham">
            <div> Jonathan Belsham</div>
        </a>
    </div>
    <div>
        <a hx-get="/team/tony.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Tony.jpg" alt="Tony Cacace">
            <div> Tony Cacace</div>
        </a>
    </div>
    <div>
        <a hx-get="/team/lucy.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Lucy.jpg" alt="Lucy Lang">
            <div> Lucy Lang</div>
        </a>
        <span id="lucy"></span>
    </div>
    <div></div>
    <div>
        <a hx-get="/team/dia.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Dia.jpg" alt="Dia Mae Luzares" class="!object-center">
            <div> Dia Mae Luzares</div>
        </a>
    </div>
    <div>
        <a hx-get="/team/matt.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Matt.jpg" alt="Matthew Williams">
            <div> Matthew Williams</div>
        </a>
    </div>
    <div>
        <a hx-get="/team/jeremy.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Jeremy.jpg" alt="Jeremy Young">
            <div> Jeremy Young</div>
        </a>
    </div>
</div>

</div>


