---
permalink: /team/jon
---

<div class="team-photos md:grid md:grid-cols-4 gap-8 pb-64">
    <div>
        <a hx-get="/team/jon.html" hx-target="#content">
            <img src="/assets/images/team/Jon.jpg" alt="Jonathan Belsham">
        </a>
    </div>
    <div class="col-span-2">
      <h1 class="text-xl">Jon Belsham </h1>
      <h2 class="text-lg">Senior Consulting Arborist</h2>
      <p class="py-2">
        Certified Arborist with over 26 years' experience in the industry. Jon has extensive knowledge writing comprehensive reports for Local and State Government Authorities, Landscape Architects, Builders, Engineers and Developers. Jon has thorough working knowledge and experience in all aspects of arboricultural consultancy.
      </p>
      <a hx-get="/team/list.html" hx-target="#content" class="text-green-700">
        Back to team
      </a>
    </div>
</div>
