<footer class="mt-5">
    <hr>
    <div class="grid grid-cols-2 md:grid-cols-3 container mx-auto">
      <div class="p-2">
        <h3 class="text-xl">Policies</h3>
        <div>
          <small>
            <a href="/privacy" class="xtext-green-700">Privacy Policy</a>
          </small>
        </div>
        <div>
          <small>
            <a href="/assets/quality-policy.pdf" class="xtext-green-700">Quality Policy</a>
          </small>
        </div>
        <div>
          <small>
            <a href="/assets/safety-policy.pdf" class="xtext-green-700">Safety Policy</a>
          </small>
        </div>
        <div>
          <small>
            <a href="/assets/environmental-policy.pdf" class="xtext-green-700">Environmental Policy</a>
          </small>
        </div>
      </div>
      <div class="p-2">
        <h3 class="text-xl">Contact</h3>
        <div><small>Arbor Australis</small></div>
        <div><small>07 3379 7793</small></div>
        <div><small>trees@arboraustralis.com.au</small></div>
      </div>
      <div class="p-2">
        <img src="/assets/images/creds.png" class="credentials mx-auto py-4">
      </div>
    </div>
</footer>
