<nav>
  <ul class="flex flex-wrap">
    <li>
      <a href="/" class="block p-2">
        <img src="/assets/images/logo.jpg" alt="Arbor Australis" class="logo" style="min-width: 300px;">
      </a>
    </li>
    <li class="flex-1"></li>
    <li><a class="h-full flex flex-col justify-center block p-2 px-4 hover:text-green-500" href="/">Home</a></li>
    <li><a class="h-full flex flex-col justify-center block p-2 px-4 hover:text-green-500" href="/services">Services</a></li>
    <li><a class="h-full flex flex-col justify-center block p-2 px-4 hover:text-green-500" href="/team">Team</a></li>
    <li><a class="h-full flex flex-col justify-center block p-2 px-4 hover:text-green-500" href="/contact">Contact</a></li>
  </ul>
</nav>
