<nav>
  <ul class="flex flex-wrap md:flex-nowrap">
    <li class="w-screen">
      <a href="/" class="block p-4">
        <img src="/assets/images/logo.jpg" alt="Arbor Australis" class="logo" style="min-width: 300px;">
      </a>
    </li>
    <li><a class="h-full flex flex-col justify-center block md:text-lg p-2 px-4 hover:text-green-700" href="/">Home</a></li>
    <li><a class="h-full flex flex-col justify-center block md:text-lg p-2 px-4 hover:text-green-700" href="/services">Services</a></li>
    <li><a class="h-full flex flex-col justify-center block md:text-lg p-2 px-4 hover:text-green-700" href="/team">Team</a></li>
    <li><a class="h-full flex flex-col justify-center block md:text-lg p-2 px-4 hover:text-green-700" href="/contact">Contact</a></li>
  </ul>
</nav>
