<div class="team-photos md:grid md:grid-cols-4 gap-8">
    <div>
        <a hx-get="/team/jon.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Jon.jpg" alt="Jonathan Belsham">
            <h3 class="text-lg">Jon Belsham</h3>
            <h4 class="text-slate-700">Senior Consulting Arborist</h4>
        </a>
    </div>
    <div>
        <a hx-get="/team/tony.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Tony.jpg" alt="Tony Cacace">
            <h3 class="text-lg">Tony Cacace</h3>
            <h4 class="text-slate-700">Consulting Arborist</h4>
        </a>
    </div>
    <div>
        <a hx-get="/team/lucy.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Lucy.jpg" alt="Lucy Lang">
            <h3 class="text-lg">Lucy Lang</h3>
            <h4 class="text-slate-700">Administration Assistant</h4>
        </a>
        <span id="lucy"></span>
    </div>
    <div></div>
    <div>
        <a hx-get="/team/dia.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Dia.jpg" alt="Dia Mae Luzares" class="!object-center">
            <h3 class="text-lg"> Dia Mae Luzares</h3>
            <h4 class="text-slate-700">CAD Drafter</h4>
        </a>
    </div>
    <div>
        <a hx-get="/team/matt.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Matt.jpg" alt="Matthew Williams">
            <h3 class="text-lg"> Matthew Williams</h3>
            <h4 class="text-slate-700">Consulting Arborist</h4>
        </a>
    </div>
    <div>
        <a hx-get="/team/jeremy.html" hx-target="#content" href="#">
            <img src="/assets/images/team/Jeremy.jpg" alt="Jeremy Young">
            <h3 class="text-lg">Jeremy Young</h3>
            <h4 class="text-slate-700">Principal Consulting Arborist</h4>
        </a>
    </div>
</div>
