:root {
  --primary: #43a047;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #43a047;
  --primary-hover: #388e3c;
  --primary-focus: rgba(67, 160, 71, 0.125);
  --primary-inverse: #FFF;
}

.nav {
  padding: 0 2rem;
}

.logo {
  max-width: 380px;
  transition: max-width 0.2s ease;
}
@media (max-width: 1250px) {
  .logo {
    max-width: 320px;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hero {
  aspect-ratio: 1600 / 500;
  object-fit: cover;
  margin-bottom: -2rem;
}

.footer-inner {
  padding-top: 1rem;
  text-align: center;
}

.team-photos a {
  cursor: pointer;
}
.team-photos img {
  width: 300px;
  height: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

.flat {
  margin-bottom: 0;
}
