:root {
  --primary: #43a047;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #43a047;
  --primary-hover: #388e3c;
  --primary-focus: rgba(67, 160, 71, 0.125);
  --primary-inverse: #FFF;
}

.nav {
  padding: 0 2rem;
}

.logo {
  max-width: 380px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hero {
  aspect-ratio: 1600 / 700;
  object-fit: cover;
  margin-bottom: -2rem;
}

.footer-inner {
  padding: 1rem;
  text-align: center;
}

.team-photos img {
  width: 300px;
  height: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}
