:root {
  --primary: #43a047;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #43a047;
  --primary-hover: #388e3c;
  --primary-focus: rgba(67, 160, 71, 0.125);
  --primary-inverse: #FFF;
}

.nav {
  padding: 0 2rem;
}

.logo {
  width: 380px;
}
@media (max-width: 1250px) {
  .logo {
    width: 320px;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hero {
  aspect-ratio: 1600 / 500;
  object-fit: cover;
}

.footer-inner {
  padding-top: 1rem;
  text-align: center;
}

.team-photos a {
  cursor: pointer;
}
.team-photos > div {
  font-size: 1.2em;
  padding-bottom: 1em;
}
.team-photos img {
  width: 300px;
  height: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

.flat {
  margin-bottom: 0;
}

.pb-1 {
  margin-bottom: 1em;
}

.custom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.services img {
  max-width: 380px;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: top;
}


.credentials {
  max-width: 400px;
}
