<!doctype html>
<html data-theme="light">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    {% include nav.html %}
    <video autoplay loop muted class="full-width hero">
      <source src="./assets/hero.mp4" type="video/mp4"></source>
    </video>
    <main class="pt-5">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>

